<!-- Header -->
<img id="headerHome" src="/assets/headerImage.png" alt="Header Image">


<div class="row mb-5">
  <div class="col-6 mx-auto mt-5">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <h5><a class="nav-link" routerLink="addPublication" routerLinkActive="active">Add Publication</a></h5>
      </li>
      <li class="nav-item">
        <h5><a class="nav-link" routerLink="filter" routerLinkActive="active">Filter</a></h5>
      </li>
    </ul>
  </div>
</div>








<div>
  <router-outlet></router-outlet>

</div>












<!-- Footer -->

<div id="footerHome">
  <div class="row">
    <div class="col">
      <h5>HEAD OFFICE</h5>

      <hr>
      <p>Vignana Jyothi</p>
      <p>H.No.7-1-4, Begumpet</p>
      <p>Hyderabad-500 016</p>
      <p>Phone:040-23731555</p>

    </div>

    <div class="col">
      <h5>CONTACT</h5>

      <hr>
      <p>Vignana Jyothi Nagar,Pragathi Nagar,</p>
      <p>Nizampet(S.O),Hyderabad 500 090</p>
      <p>TS,India.</p>
      <p>Telephone No: 91-040-23042758 /59/60,</p>
      <p>Fax: 91-040-23042761</p>
      <p>Email:postbox@vnrvjiet.ac.in,</p>
      <p>Website:www.vnrvjiet.ac.in</p>
    </div>>

    <div class="col">
      <h5>FOLLOW US</h5>
      <hr>
      <ul>
        <li>FACEBOOK</li>
        <li>INSTAGRAM</li>
        <li>TWITTER</li>
        <li>LinkedIn</li>
      </ul>
    </div>
  </div>


</div>
<div class="row" style="background-color: #8B0000;color: #DDDDDD;">

  <div class="col">
    <p style="margin: 10px 10px 10px 10px;">Copyright © 2018</p>
  </div>
  <div class="col">
    <p style="margin: 10px 10px 10px 10px;">Developed By VNRVJIET</p>
  </div>
</div>
